<html>
<head>
    <title>TODO</title>
    <link href="{{ url_for('static', path='/normalize.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/sakura.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/pygments.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/custom.css') }}" rel="stylesheet">
</head>
<body>
    <header>
    <image
        priority
        src="{{ url_for('static', path='/images/profile.webp') }}"
        height="144"
        width="144"
        alt="Daniel Roy Greenfeld"
        class="borderCircle"
        />
    <h1>Daniel Roy Greenfeld</h1>     
    <p>
      <a href="/about">
        About
      </a>
      |
      <a href="/posts">
        Articles
      </a>
      |
      <a href="/books">
        Books
      </a>
      |
      <a href="/jobs">
        Jobs
      </a>
      |
      <a href="/news">
        News
      </a>
      |
      <a href="/tags">
        Tags
      </a>
    </p>
    </header>
    <main>
        {% block content required %}{% endblock content %}
    </main>
    <footer>
        <p>
          <a href="https://fosstodon.org/@danielfeldroy">Mastodon</a> |
          <a href="https://www.linkedin.com/in/danielfeldroy/">aedIn</a> |
          <a href="https://twitter.com/pydanny">Twitter</a> |
          <a href="/feeds/atom.xml">Atom Feed</a>
        </p>
        <p>All rights reserved {% now 'utc', '%Y' %}, Daniel Roy Greenfeld</p>
    </footer>    
</body>
</html>